<?xml version="1.0"?>
<configuration>
	<configSections>
		<!-- This is the package collection used to add custom implementations to NHapi -->
		<section name="Hl7PackageCollection" type="NHapi.Base.Model.Configuration.HL7PackageConfigurationSection, NHapi.Base"/>
		<!-- Use this section group to add rules to add specific validation rule implementations -->
		<sectionGroup name="hl7ValidationRulesGroup">
			<section name="hl7ValidationRules" type="NHapiTools.Base.Configuration.ValidationSection, NHapiTools.Base, version=1.0.0.0"/>
		</sectionGroup>
		<!-- Use this section group to add configuration to some provided validation rules -->
		<sectionGroup name="SpecificRulesGroup">
			<section name="SpecificRules" type="NHapiTools.Base.Configuration.MessageRulesSection, NHapiTools.Base, version=1.0.0.0"/>
		</sectionGroup>
	</configSections>
	<Hl7PackageCollection>
		<HL7Package name="TestApp.CustomImplementation.V23." version="2.3"/>
	</Hl7PackageCollection>
	<hl7ValidationRulesGroup>
		<hl7ValidationRules>
			<EncodingRules>
				<add Name="EncodingRule1" Assembly="TestApp" Type="TestApp.CustomRules.EncodingRule1"/>
			</EncodingRules>
			<MessageRules>
				<add Name="MessageRule" Assembly="TestApp" Type="TestApp.CustomRules.MessageRule"/>
<!--				<add Name="MessageRule1" Assembly="TestApp" Type="TestApp.CustomRules.MessageRule2" />
-->
				<add Name="MandatorySegments" Assembly="NHapiTools.Base" Type=" NHapiTools.Base.Validation.Rule.MessageSegmentMandatoryRule"/>
				<add Name="MessageRegExField" Assembly="NHapiTools.Base" Type=" NHapiTools.Base.Validation.Rule.MessageRegExRule"/>
				<add Name="MessageFieldIntOnly" Assembly="NHapiTools.Base" Type=" NHapiTools.Base.Validation.Rule.MessageFieldIntOnlyRule"/>
				<add Name="MessageFieldMandatory" Assembly="NHapiTools.Base" Type=" NHapiTools.Base.Validation.Rule.MessageFieldMandatoryRule"/>
			</MessageRules>
<!--			<PrimitiveTypeRules>
				<add Name="PrimitiveRule1" Assembly="TestApp" Type="TestApp.CustomRules.PrimitiveRule1" />
			</PrimitiveTypeRules>
-->
		</hl7ValidationRules>
	</hl7ValidationRulesGroup>
	<SpecificRulesGroup>
		<SpecificRules>
			<SegmentMandatoryRule>
				<add Name="MandatoryPIDOn2.1_ADT_A01" Version="2.4" MessageType="ADT" TriggerEvent="A01" MadatorySegment="PID"/>
				<add Name="MandatoryPIDOn*" Version="*" MessageType="*" TriggerEvent="*" MadatorySegment="PID"/>
			</SegmentMandatoryRule>
			<MessageRegExRule>
				<add Name="RegExOn2.1_ADT_A01" Version="2.4" MessageType="ADT" TriggerEvent="A01" FieldIndicator="MSH-9-1" RegEx=""/>
				<add Name="RegExOnMSH-10-1" Version="*" MessageType="*" TriggerEvent="*" FieldIndicator="MSH-10-1" RegEx="^\d+$" AllowNull="false"/>
			</MessageRegExRule>
			<MessageFieldIntOnlyRule>
				<add Name="IntOnlyOnMSH-3-1" Version="*" MessageType="ADT" TriggerEvent="*" FieldIndicator="PID-3-1" AllowNull="true"/>
			</MessageFieldIntOnlyRule>
			<MessageFieldMandatoryRule>
				<add Name="MandatoryFieldADT_MSH-2-1" Version="*" MessageType="ADT" TriggerEvent="*" FieldIndicator="PID-2-1"/>
				<add Name="MandatoryFieldDFT_MSH-2-1" Version="*" MessageType="DFT" TriggerEvent="*" FieldIndicator="PID-2-1"/>
			</MessageFieldMandatoryRule>
		</SpecificRules>
	</SpecificRulesGroup>
	<appSettings>
		<add key="NHapiRulesNamespace" value="TestApp, version=1.0.0.0"/>
	</appSettings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
